:root {
  --green: #2b5a3f;
  --light-green: #6aa07e;
  --beige: #f4f0e7;
  --gray: #555b54;
  --white: #f8f6ff;
}
* {
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  font-size: 20px;
}
h1,
h2,
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 20px;
  color: var(--green);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {
  margin: 20px;
}
blockquote {
  font-weight: 100;
  margin: 40px;
}

a {
  font-size: 30px;
}
a:link {
  color: var(--gray);
  text-decoration: none;
  position: relative;
}
a:visited {
  color: var(--green);
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:active {
  font-size: 32px;
}

a:link::after {
  content: "💸";
}
a:link:hover::after,
a:link:focus::after {
  content: attr(data-description);
  position: absolute;
  left: 0;
  top: 40px;
  min-width: 200px;
  padding: 2px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 20px;
  z-index: 1;
}
a:hover:visited::after,
a:focus:visited::after {
  color: var(--white);
}
@media (max-width: 1200px) {
  a:link::after {
    content: "";
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: var(--beige);
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}
#logo {
  width: 100%;
  grid-column: 1;
}
#account {
  grid-column: 3;
}
nav {
  grid-column: 2;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
  min-height: calc(100vh - 180px);
  background-color: var(--white);
}
main > .container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--beige);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#copyright {
  margin: 20px;
  font-size: 10px;
}

@media (min-width: 701px) {
  #burger {
    display: none;
  }
}
@media (max-width: 700px) {
  nav {
    display: none;
  }
  #account {
    display: none;
  }
  #burger {
    grid-column: 3;
  }
  main {
    padding-bottom: 0px;
  }
  footer {
    position: unset;
  }
}

