main > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100vh - 220px);
    column-gap: 20px;
  }
  
  #asset-focus {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #asset-list h2 {
    color: var(--white);
  }
  #asset-list {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  #asset-list > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  h2 {
    margin: 30px;
  }
  
  main li {
    padding: 20px;
    margin-top: 20px;
    background-color: var(--beige);
    width: 80%;
  }
  
  ul > li > p {
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  
  @media (max-width: 700px) {
    main > .container {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
  
  
  